Your current auth to local rules do not include a DEFAULT rule entry.  This can prevent user principal names from being properly mapped to local unix users.  Your current auth_to_local rules are listed below along with an example of the recommended format.

Current auth_to_local rules:

{{ auth_to_local_rules }}

Suggested auth_to_local rules:

{{ auth_to_local_rules }}
DEFAULT